<web-app>
<servlet>
<servlet-name>regclass</servlet-name>
<servlet-class>com.mvc.Register</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>regclass</servlet-name>
<url-pattern>/register</url-pattern>
</servlet-mapping>



<servlet>
<servlet-name>logclass</servlet-name>
<servlet-class>com.mvc.Login</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>logclass</servlet-name>
<url-pattern>/login</url-pattern>
</servlet-mapping>



</web-app>