<web-app>

<servlet>
<servlet-name>first</servlet-name>
<servlet-class>com.registration.PageRegister</servlet-class>
</servlet>


<servlet-mapping>
<servlet-name>first</servlet-name>
<url-pattern>/register</url-pattern>
</servlet-mapping>


<servlet>
<servlet-class>com.registration.EmployeeLogin</servlet-class>
<servlet-name>second</servlet-name>
</servlet>


<servlet-mapping>
<servlet-name>second</servlet-name>
<url-pattern>/login</url-pattern>
</servlet-mapping>


<servlet>
<servlet-class>com.registration.DepartmentRegister</servlet-class>
<servlet-name>third</servlet-name>
</servlet>


<servlet-mapping>
<servlet-name>third</servlet-name>
<url-pattern>/departmentregister</url-pattern>
</servlet-mapping>






<servlet>
<servlet-class>com.registration.DepartmentLogin</servlet-class>
<servlet-name>forth</servlet-name>
</servlet>


<servlet-mapping>
<servlet-name>forth</servlet-name>
<url-pattern>/department_login</url-pattern>
</servlet-mapping>








</web-app>