<?xml version="1.0" encoding="UTF-8"?>

<web-app>

<servlet>
    <servlet-name>register</servlet-name>
    <servlet-class>com.sh.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>register</servlet-name>
    <url-pattern>/register_servlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>login</servlet-name>
    <servlet-class>com.sh.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>login</servlet-name>
    <url-pattern>/Login_Servlet</url-pattern>
  </servlet-mapping>



</web-app>